RewriteEngine On

# 1. Externally redirect direct requests for index.html to /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/ [NC]
RewriteRule ^index\.html$ / [R=301,L]

# 2. Externally redirect direct requests for .html files to extensionless URLs
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP/ [NC]
RewriteRule ^([^.]+)\.html$ /$1 [R=301,L]

# 3. Internally rewrite extensionless requests to .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

ErrorDocument 404 /index.html
